/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

main {
    border: 0px solid red;
    height: 100vh;
}

.stick {
    border: 0px solid black;
    width: 15px;
    height: 180px;
    margin: 0px auto;
    background-color: black;
}

.container {
    border: 0px solid black;
    width: 150px;
    margin: 0px auto;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;

}

.container div {
    border: 0px solid black;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
    
}

.red-light {
    background-color: #E60000
}

.yellow-light {
    background-color: 	#FFD301
}

.green-light {
    background-color: #4CBB17
}

.light-on {
    box-shadow: 0px 0px 50px 20px rgb(219, 241, 190);
}